/**
 * @author: wenhao.huang
 * @date:   2017/12/23
 */
@import 'mixin';

html, body {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

html * {
    box-sizing: border-box;
}

body {
    color: #333;
    font-size: 0.28rem;
    line-height: 1.42857143;
    font-family: $fontFamily;
    background-color: #F0F0F0;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

h2 {
    font-size: 0.5rem;
    font-weight: 400;
}

h3 {
    font-size: 0.4rem;
    font-weight: 400;
}

.disabled {
    user-select: none;
    pointer-events: none;
}

#app {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include flex(column, flex-start, flex-start);
}

.page {
    flex: 1;
    display: block;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.page-article {
    padding-bottom: 0.8rem;
    background-color: $white;
}

.page-wrap {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
