/**
 * @author: wenhao.huang
 * @date:   2017/12/24
 * @module:
 */
@import 'mixin';

.flex {
    @include flex(row, flex-start, flex-start);
    .flex-bd {
        flex: 1;
    }
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
    .flex-hd, .flex-bd, .flex-ft {
        width: 100%;
    }
}

.flex-justify-start {
    justify-content: flex-start;
}

.flex-justify-end {
    justify-content: flex-end;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-justify-around {
    justify-content: space-around;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-align-center {
    align-items: center;
}

// margin padding 留白设置
$gutterType: margin padding;
$direction: top right bottom left;
@each $GT in $gutterType {
    $type: 'm';
    @if ($GT == 'padding') {
        $type: 'p';
    }
    @each $dir in $direction {
        $D: 't';
        @if ($dir == 'right') {
            $D: 'r';
        } @else if ($dir == 'bottom') {
            $D: 'b';
        } @else if ($dir == 'left') {
            $D: 'l';
        }

        @for $i from 0 to 11 {
            @if ($i == 0) {
                .#{$type}#{$D} {
                    @include gutter($GT, $dir, $i);
                }
            } @else {
                .#{$type}#{$D}#{$i*10} {
                    @include gutter($GT, $dir, $i);
                }
            }
        }
    }
}

